<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hebr.stoarge.mapper.StorageMapper">
    <update id="deduct">
        update storage_tbl set count = #{count} where commodity_code = #{commodityCode}
    </update>


    <select id="getStorageCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count from storage_tbl where commodity_code = #{commodityCode}
    </select>
</mapper>